<script>
</script>

<style>
  .calendar {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
  }

  .calendar__picture {
    color: #fff;
    position: relative;
    height: 200px;
    padding: 20px;
    background: #1d1127 url('./gNlWgd6Y-unsplash.jpg') no-repeat center / cover;
  }

  .calendar__picture::after {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1));
  }

  .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
  }

  .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #1d1127;
  }

  .calendar__day:nth-child(7) {
    color: #7209b7;
  }

  .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #1d1127;
  }

  .calendar__number:nth-child(7n) {
    color: #7209b7;
    font-weight: 700;
  }

  .calendar__number.calendar__number--current {
    background-color: rgba(114, 9, 183, .1);
    color: #7209b7;
    font-weight: 700;
    border-radius: 4px;
  }
</style>

<div class="calendar">
  <div class="calendar__picture">
    <h2>11, Thursday</h2>
    <h3>November</h3>
    <h4>Sunny, 81°F</h4>
  </div>
  <div class="calendar__date">
    {#each ['M', 'T', 'W', 'T', 'F', 'S', 'S'] as day}
      <div class="calendar__day">{day}</div>
    {/each}
    <div class="calendar__number"></div>
    <div class="calendar__number"></div>
    <div class="calendar__number"></div>
    {#each [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30] as number}
      {#if number === 11}
        <div class="calendar__number calendar__number--current">{number}</div>
      {:else}
        <div class="calendar__number">{number}</div>
      {/if}
    {/each}
  </div>
</div>
