<script>
  const meetings = [
    {
      title: 'Standup',
      time: '10:30am',
      completed: true,
    },
    {
      title: 'Catching up',
      time: '11:00am',
      completed: true,
    },
    {
      title: 'Office hours',
      time: '3:00pm',
      completed: false,
    },
    {
      title: 'Front-end sync',
      time: '4:00pm',
      completed: false,
    },
  ];
</script>

<style>
  article {
    background-color: #1d1127;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
    margin-bottom: 12px;
  }

  strong {
    display: flex;
    align-items: center;
  }

  svg {
    color: #fff;
    margin-right: 4px;
  }

  .padding-top-small {
    padding-top: 16px;
  }

  .title {
    color: #fff;
  }
  .time {
    background-color: #7209b7;
    display: inline-block;
    padding: 4px;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
  }
</style>

<div class="padding-top-small">
  {#each meetings as meeting, index}
    <article class="o-{index + 1}">
      <strong>
        <svg width="18" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
        </svg>
        <span class="title">{meeting.title}</span>
      </strong>
      <span class="time">{meeting.time}</span>
    </article>
  {:else}
    No meetings today.
  {/each}
</div>
