<script>
  import { navigate } from 'svelte-routing';
</script>

<style>
  .padding-small { padding: 16px; }
  .valign {
    display: flex;
    align-items: center;
  }
  input {
    /* border: 1px solid #1d1127; */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1d1127;
    padding: 8px;
    outline: none;
    margin-right: 8px;
  }
  input:focus {
    border-bottom: 1px solid #7209b7;
  }
  input::placeholder {
    color: rgba(29, 17, 39, .5);
  }
  button {
    align-items: center;
    background-color: #1d1127;
    border-radius: 24px;
    color: #fff;
    border: none;
    display: inline-flex;
    outline: none;
    height: 2.5em;
    padding: 6px 24px;
  }
  button svg {
    margin-right: 4px;
  }
</style>

<div class="padding-small">
  <div class="valign">
    <input type="text" placeholder="Meeting ID" />
    <button on:click="{() => navigate('video') }">
      <svg width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
      </svg>
      <span>Join</span>
    </button>
  </div>
</div>
