<script>
  import { navigate } from 'svelte-routing';
  import macButtons from '@app/components/mac-ui.png';
</script>

<style>
  main {
    background: url('autumn-goodman.jpg') no-repeat 0 -150px;
    background-size: cover;
    position: relative;
    height: 100%;
    border-radius: 12px;
  }
  header {
    display: flex;
    place-content: center;
  }
  .toolbar {
    padding: 16px;
  }
  .toolbar button {
    display: inline-grid;
    background-color: rgba(247, 248, 249, .75);
    color: #1d1127;
    border-radius: 12px;
    outline: none;
    border: none;
    place-items: center;
    width: 48px;
    height: 48px;
    margin-right: 4px;
  }
  .mac {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .users {
    position: absolute;
    background-color: rgba(29, 17, 39, .9);
    /* background-color: rgba(247, 248, 249, .75); */
    border-radius: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    display: flex;
    padding: 12px;
  }
  .thumb {
    width: 220px;
    height: 140px;
    margin-right: 12px;
  }
  .badge {
    background-color: rgba(29, 17, 39, .5);
    padding: 8px;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .f {
    border-radius: 12px;
    position: relative;
  }
  .f-1 {
    background: url('./f1.jpg') no-repeat 0 -70px;
    height: 100%;
  }
  .f-2 {
    background: url('./f2.jpg') no-repeat 0 -70px;
    height: 100%;
  }
  .f-3 {
    background: url('./f3.jpg') no-repeat 0 -20px;
    height: 100%;
  }
  .f-4 {
    background: url('./f4.jpg') no-repeat 0 -60px;
    height: 100%;
  }
  .f-5 {
    background: url('./f5.jpg') no-repeat 0 -50px;
    height: 100%;
  }
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
  }
</style>

<main>
  <header>
    <section class="toolbar">
      <button>
        <svg width="28" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      </button>
      <button>
        <svg width="28" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
        </svg>
      </button>
      <button>
        <svg width="28" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
        </svg>
      </button>
      <button on:click="{() => navigate('/') }">
        <svg width="28" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
    </button>
    </section>
  </header>
  <span class="mac">
    <img src={macButtons} alt="macos buttons" height="12" />
  </span>
  <section class="users">
    {#each [1, 2, 3, 4, 5] as item}
      <div class="thumb">
        <div class="f f-{item}">
          <span class="badge">firstname lastname</span>
        </div>
      </div>
    {/each}
    <div class="controls">
      <svg width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
      </svg>
      <svg width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <svg width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
      </svg>
    </div>
  </section>
</main>
