<script>
  import macButtons from '@app/components/mac-ui.png';
  import UserWelcome from '@app/components/userwelcome.svelte';
  import UserToolbar from '@app/components/usertoolbar.svelte';
  import MeetingsHeader from '@app/components/meetingsheader.svelte';
  import Meetings from '@app/components/meetings.svelte';
  import NewMeeting from '@app/components/newmeeting.svelte';
  import Calendar from '@app/components/calendar.svelte';
</script>

<style>
  .grid { display: grid; width: 100%; height: 100%; }
  .two-columns { grid-template-columns: 400px 1fr; }
  .two-rows {
    grid-template-rows: auto 1fr;
  }
  .gray {
    background-color: #f7f8f9;
  }
  .rounded {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 24px;
  }
  .padding-small { padding: 16px; }
  .padding-b-small { padding-bottom: 16px; }
  .h-full { height: 100%; }
  .flex {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
  .r-align {
    display: flex;
    justify-content: flex-end;
  }
</style>

<div class="grid two-columns">
  <aside class="gray rounded">
    <div class="padding-small h-full">
      <div class="grid two-rows">
        <div class="padding-b-small">
          <header class="padding-b-small">
            <img src={macButtons} alt="macos buttons" height="12" />
          </header>
          <UserWelcome user={"human"} />
        </div>
        <div class="flex">
          <UserToolbar />
          <NewMeeting />
        </div>
      </div>
    </div>
  </aside>
  <main class="grid two-columns">
    <section class="padding-small">
      <MeetingsHeader />
      <Meetings />
    </section>
    <section>
      <div class="padding-small">
        <div class="r-align">
          <Calendar />
        </div>
      </div>
    </section>
  </main>
</div>
