<svelte:head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</svelte:head>

<script>
  import { Router, Route } from 'svelte-routing';
  import Welcome from '@app/components/welcome.svelte';
  import VideoCall from '@app/components/videocall.svelte';
  export let url = '';
</script>

<style>
  .app-container {
    display: grid;
    height: 100vh;
    place-items: center;
  }
  .app {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.05);
    height: 600px;
    width: 1200px;
  }
</style>

<Router url="{url}">
  <div class="app-container">
    <div class="app">
      <Route path="/"><Welcome /></Route>
      <Route path="video"><VideoCall /></Route>
    </div>
  </div>
</Router>
